<div class="text-center">
<h1>Edit entry</h1>
</div>

<%= render partial: 'form' %>

<table style="margin-left:auto; margin-right:auto" >
<td><%= link_to 'Show', @complaint %></td>
<td><%= link_to 'Back', complaints_path %></td>
</table>
