// import the CSS framework
@import "foundation";

.slide1 {
padding-bottom: 40px;
}
.slide {
position: relative;
width: 100%;
padding: 60px 0;
overflow: hidden;
background: #FFF;
}

.page-centered-container {
padding: 0;
margin: 0 auto;

	.page-centered {
		padding: 0 10px;
	}	
	h1 {
		width: 100%;
		float: right;
		margin-left: 0;
		margin-right: 0;
		clear: none;
		font-size: 34px;
		line-height: 38px;
		color: #303032;
		text-transform: lowercase;
		background: url("http://www.zipcar.com/sites/default/files/images/list_divider_clear.gif") repeat-x left 14px;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
		font-family: 'DINFamilyBold',Arial,sans-serif;
	}


	span {
		background: #FFFFFF;
		display: inline-block;
		padding: 0 10px;
	}
	.headline-center {
		background: #FFFFFF;
		padding: 0 10px;
		display: inline-block;
		max-width: 70%;
	}
}

.slide.slide-bg-grey:before {
content: "";
position: absolute;
top: 0;
width: 0;
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 25px solid #FFFFFF;
left: 50%;
margin-left: -30px;
}

.slide-bg-grey {
background: #f1f1f1;
span {
		background: #f1f1f1;
		display: inline-block;
		padding: 0 10px;
	}
}

.slide-bg-grey .headline-center {
background: #f1f1f1;
}

.section2 {
	background: #f1f1f1;
	width: 100%;
	padding: 0px 15px 0px 15px;
}


.overlay-container {
	img {
		width: 100%;
	}
  position: relative; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  font: 0/0 a; /* Remove the gap between inline(-block) elements */
}

.overlay-container .overlay:before {
  content: ' ';
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.overlay-container .overlay span {
  font: 24px/1 Arial, sans-serif; /* Reset the font property */
  color: black;
  display: inline-block;
  vertical-align: middle;
  /*text-shadow: 2px 2px #44536A;*/
}
